# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=u123456789_adara
DB_USER=u123456789_admin
DB_PASS=TuContraseña123!

# Configuración de la Aplicación
APP_ENV=production
ALLOWED_ORIGINS=http://localhost:3000,https://adarabliss.com
API_URL=https://api.adarabliss.com
FRONTEND_URL=https://adarabliss.com
